In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("Downloads/student_performance.csv")

In [9]:
print(df.head())

   StudentID  G1  G2  G3      Mjob     Fjob  age address  studytime  failures  \
0          1   6   2   2   teacher  at_home   21   rural          3         1
1          2  19  11  18    health  teacher   18   rural          1         1
2          3  14   7  19    health    other   20   urban          1         1
3          4  10   2   6  services   health   21   urban          3         1
4          5   7   0  19    health   health   18   rural          4         1

  schoolsup famsup paid activities nursery higher internet romantic
0        no    yes  yes        yes     yes    yes       no      yes
1        no     no   no         no     yes     no       no       no
2       yes    yes  yes         no      no     no      yes      yes
3       yes     no  yes         no     yes     no       no       no
4        no     no  yes         no     yes    yes      yes       no

In [39]:
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   100 non-null    int64
 1   G1          100 non-null    int64
 2   G2          100 non-null    int64
 3   G3          100 non-null    int64
 4   Mjob        100 non-null    object
 5   Fjob        100 non-null    object
 6   age         100 non-null    int64
 7   address     100 non-null    object
 8   studytime   100 non-null    int64
 9   failures    100 non-null    int64
 10  schoolsup   100 non-null    object
 11  famsup      100 non-null    object
 12  paid        100 non-null    object
 13  activities  100 non-null    object
 14  nursery     100 non-null    object
 15  higher      100 non-null    object
 16  internet    100 non-null    object
 17  romantic    100 non-null    object
dtypes: int64(7), object(11)
memory usage: 14.2+ KB
None

In [43]:
print("\nDataset stattistics:")
print(df.describe())

Dataset stattistics:
        StudentID          G1          G2          G3         age  studytime  \
count  100.000000  100.000000  100.000000  100.000000  100.000000  100.00000
mean    50.500000    9.010000    8.710000    9.070000   18.180000    2.21000
std     29.011492    5.535003    6.107282    6.629068    1.940426    1.06643
min      1.000000    0.000000    0.000000    0.000000   15.000000    1.00000
25%     25.750000    4.750000    3.750000    2.000000   16.750000    1.00000
50%     50.500000    8.500000    8.000000    8.000000   18.000000    2.00000
75%     75.250000   14.000000   14.000000   15.000000   20.000000    3.00000
max    100.000000   19.000000   19.000000   19.000000   21.000000    4.00000

         failures
count  100.000000
mean     1.380000
std      1.080404
min      0.000000
25%      0.000000
50%      1.000000
75%      2.000000
max      3.000000

In [15]:
df.count()

StudentID     100
G1            100
G2            100
G3            100
Mjob          100
Fjob          100
age           100
address       100
studytime     100
failures      100
schoolsup     100
famsup        100
paid          100
activities    100
nursery       100
higher        100
internet      100
romantic      100
dtype: int64

In [17]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
StudentID     0
G1            0
G2            0
G3            0
Mjob          0
Fjob          0
age           0
address       0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
dtype: int64